{% extends "base.html" %}
{% load static %}
{% load django_bootstrap5 %}

{% block extraheader %}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
{% endblock %}

{% block main %}
<h2>マイページ</h2>
<p>ようこそ、{{ user.username }}さん</p>
<p>投稿したリンク一覧</p>
    {% for data in context reversed %}
        {% include 'post.html' with data=data %}
    {% endfor %}

    <script type="text/javascript" src="{% static 'js/good_change.js' %}"></script>
{% endblock %}