<div class="card my-2 shadow">
    <div class="card-body">
        <div class="h5 card-title">{{ data.post.url }}</div>
        <div class="h6 card-subtitle">
            投稿者：
            {{ data.post.created_by }}
            {% if data.post.created_by.is_superuser %}
                <span style="color:red"><b>(管理人)</b></span>
            {% endif %}
        </div>
        <div class="h6 card-subtitle">
            投稿日：
            {{ data.post.created_at }}
        </div>
        <p class="card-text">{{ data.post.description | linebreaksbr }}</p>
        <p class="card-text">検索ワード：「{{ data.post.search_word }}」</p>
        <a href="{{ data.post.url }}" target="_blank" class="btn btn-primary">このサイトを見る</a>
        {% if request.user.is_authenticated %}
            {% if data.good %}
                <a class="btn btn-danger" id="goodBtn-{{ data.post.id }}" onClick="good_change('{% url "good:good_change" data.post.id %}' , 'goodBtn-{{data.post.id}}' , 'goodCount-{{data.post.id}}')">
                    <span class="material-symbols-outlined">favorite</span>
                </a>
            {% else %}
                <a class="btn btn-outline-danger" id="goodBtn-{{ data.post.id }}" onClick="good_change('{% url "good:good_change"  data.post.id %}' , 'goodBtn-{{data.post.id}}', 'goodCount-{{data.post.id}}' )">
                    <span class="material-symbols-outlined">favorite</span>
                </a>
            {% endif %}
        {% else %}
            <a class="btn btn-outline-danger" id="goodBtn-{{ data.post.id }}" href="{% url 'login' %}">
                <span class="material-symbols-outlined">favorite</span>
            </a>
        {% endif %}
        <span id="goodCount-{{data.post.id}}">{{ data.good_count }}</span>
    </div>
</div>