{% extends "base.html" %}
{% load static %}
{% load django_bootstrap5 %}

{% block extraheader %}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
{% endblock %}

{% block main %}
    {% include 'slogan.html' %}

    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a href="{% url 'top' %}" class="nav-link">投稿日順</a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link active">いいね数順</a>
        </li>
    </ul>
    {% for data in context %}
        {% include 'post.html' with data=data %}
    {% endfor %}

    
    <script type="text/javascript" src="{% static 'js/good_change.js' %}"></script>
{% endblock %}